

table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #757575;
    padding: 1rem 0rem;
}

table tr,
table td {
    padding: 1.8rem;
    text-align: right;
}

table tr td:first-child {
    text-align: left;
}

table th {
    background-color: #234589;
    color: #FFF;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: left;
}

.table-conteiner {
    padding: 2rem 1rem;
}

.table-conteiner he {
    font-size: 1.8rem;
    font-style: normal;
    margin-bottom: 1rem;
}

.table-conteiner tfoot td {
    font-weight: bold;
}