
cursos/curso-javascript-puro/complete-javascript-course-master/08-Behind-the-Scenes/starter/mental-map/runtime-js.png
cursos/curso-javascript-puro/complete-javascript-course-master/08-Behind-the-Scenes/starter/mental-map/execution-context-details.png
cursos/curso-javascript-puro/complete-javascript-course-master/08-Behind-the-Scenes/starter/mental-map/execution-context.png
cursos/curso-javascript-puro/complete-javascript-course-master/08-Behind-the-Scenes/starter/mental-map/modern-js-jit.png
/cursos/curso-javascript-puro/complete-javascript-course-master/17-Modern-JS-Modules-Tooling/starter/node_modules
/cursos/curso-javascript-puro/complete-javascript-course-master/18-forkify/starter/node_modules
/projetos/JS/forkify/node_modules/@babel/highlight/node_modules
/projetos/JS/forkify/node_modules
