/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Roboto:wght@100;300;500;700&display=swap');

/* variables */

:root {
  --ff-primary: 'Press Start 2P';
  --ff-second: 'Roboto';
  --fs-label: 2rem;
  --clr-bg: #222;
  --clr-font: #eee;
  --clr-hover: #ccc;
  --clr-jk-text: #333;
  --clr-trans: transparent;
  --bd-guess: 4px solid var(--clr-font);
}

/* reset config */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary), var(--ff-second);
  background-color: var(--clr-bg);
  color: var(--clr-font);
  /* background-color: #60b347; */
}

.btn {
  margin: 2rem;
  font-family: var(--ff-primary);
  color: var(--clr-bg);
  font-size: 2rem;
  padding: 2rem 3rem;
  background-color: var(--clr-font);
  border: none;
  cursor: pointer;
}

.main-left,
.main-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.label {
  font-size: var(--fs-label);
}

/* HEADER */
header {
  position: relative;
  height: 35vh;
  border-bottom: 0.7rem solid var(--clr-font);
  margin-bottom: 11rem;
}

h1 {
  position: absolute;
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: bold;
  top: 9.3rem;
  left: 36.3rem;
}

.between {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.4rem;
}

.again:hover {
  background-color: var(--clr-hover);
}

.joker {
  text-align: center;
  padding-top: 3rem;
  position: absolute;
  right: 50%;
  top: 15.7rem;
  height: 12rem;
  width: 15rem;
  font-size: 6rem;
  background-color: var(--clr-font);
  color: var(--clr-jk-text);
  /*
    Move o elemento em 50% no eixo X, se fosse
    -50%, então o right teria que ser left
  */
  transform: translateX(50%);
}

/* MAIN */
main {
  display: flex;
  justify-content: space-around;
  margin-right: 8rem;
}

/* MAIN LEFT */
.main-left {
  margin-left: 4rem;
  margin-right: -5.6rem;
}

.guess {
  background-color: var(--clr-trans);
  border: var(--bd-guess);
  color: var(--clr-font);
  font-size: 5rem;
  font-family: var(--ff-primary);
  width: 25rem;
  height: 10.8rem;
  text-align: center;
  padding: 2.5rem;
}

.check:hover {
  background-color: var(--clr-hover);
}

/* MAIN RIGHT */
.main-right {
  align-items: flex-start;
  padding-right: 0.4rem;
}

.message {
  margin: 0.7rem 0 8rem 0;
  min-width: 34rem;
}

.score {
  margin-bottom: 1rem;
}
