/* RESET CONFIG */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
    blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
    img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, 
    i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, 
    caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, 
    embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
    ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, 
    nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONT */
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf) format("truetype");
}

/* CONFIG */
* {
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
   text-decoration: none;
}

body {
  /* #203742 #203742cf #082533*/
  background: #211b1e;
  color: #d9d9d9;
  text-align: center;
}

main {
  border-bottom: 2px solid #27c998;
}

/* BANNER */
header {
  background-color: #2b2327;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #27c998;
}

.header-container {
  padding: 5px 0;
  width: 56%;
  display: flex;
  justify-content: space-between;
}

.banner-container {
  width: 140px;
  height: auto;
}

  .banner-container img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

nav {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 340px;
}

.nav-bar {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

  .nav-bar a {
    padding: 1rem .5rem;
    width: 100px;
    text-align: center;
    color: #31F4B8;
    font: normal bold 16px "Roboto";
    border: 2px solid transparent;
    transition: .3s;
    border-radius: 10px;
  }
  
  #left:hover {
    transform: scale(1.05) translate(-5px, -5px);
    border: 2px solid #31F4B8;
  }

  #mid:hover {
    transform: scale(1.05) translate(0px, -5px);
    border: 2px solid #31F4B8;
  }

  #right:hover {
    transform: scale(1.05) translate(5px, -5px);
    border: 2px solid #31F4B8;
  }

/* MAIN FORM */
form {
  text-align: center;
}

.form-container {
  padding: 0 35%;
}

.info-contact {
  border: 2px solid #27c998;
  padding: 50px;
  background-color: #111010;
  margin-bottom: 25px;
}

  .info-contact h2 {
    font: normal bold 28px "Roboto";
    color: #31f4b8;
    margin-bottom: 30px;
  }

  .info-contact h4 {
    font-size: 16px;
  }

/* INFO CONTACT */
.input-contact {
  margin-top: 15px;
}

  .input-contact input {
    margin-top: 15px;
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
  }

/* TEXT CONTACT */
.text-contact {
  border: 2px solid #27c998;
  padding: 50px;
  background-color: #111010;
  margin-bottom: 2rem;
}

  .text-contact textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    outline: 0;
    font-size: 14px;
    margin-bottom: 15px;
  }

#submit {
  font-weight: bold;
  padding: 10px 15px;
  background-color: #31F4B8;
  border-radius: 5px;
  color: #211b1e;
  border: 2px solid transparent;
  transition: .3s;
  font-size: 16px;
  cursor: pointer;
}

  #submit:hover {
    border: 2px solid #31F4B8;
    color: #31F4B8;
    background: #211b1e;
    font-weight: bold;
  }

/* FOOTER */
footer {
  text-align: center;
  margin: 50px 0;
}

  .footer-container p {
    margin-top: 5px;
  }

  .footer-container a {
    color: #27c998;
    text-decoration: underline;
  }

  .footer-container a:hover {
    color: #31F4B8;
  }

/* RESPONSIVIDADE */
/* PC/NOTEBOOK */
@media (max-width: 1050px) {
  .header-container {
    gap: 70px;
  }

  .nav-bar a {
    width: 6rem;
    padding: .8rem .2rem;
    font-size: 14px;
  }

  #nav-side-bar {
    width: max-content;
  }

  .form-container {
    padding: 0 32%;
  }
}

/* TABLET */  
@media (max-width: 800px) {
  header {
    padding: 0;
  }

  .header-container {
    gap: 0px;
    width: 58%;
  }    
  
  .nav-bar {
    padding: 0;
    justify-content: end;
    margin-right: 15px;
  }
  
  .nav-bar a {
    width: max-content;
    padding: .8rem .5rem;
  }

  .banner-container {
    margin-left: 15px;
    width: 125px;
  }

  .info-contact h4,
  .input-contact input,
  #submit {
    font-size: 14px;
  }

  .info-contact h4 {
    line-height: 1.2rem;
  }

  .form-container {
    padding: 0 30%;
  }
}

/* MOBILE */
@media (max-width: 585px) {
  .header-container {
    width: 100%;
  }

  .form-container {
    padding: 0 10%;
  }

  .nav-bar a {
    font-size: 14px;
    padding: 5px 5px;
  }
}

@media (max-width: 390px) {
  .nav-bar a {
    font-size: 12px;
    padding: 5px 5px;
  }

  .info-contact {
    padding: 30px;
  }

  .text-contact {
    padding: 30px;
  }
}
