/* RESET CONFIG */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, 
    blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, 
    img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, 
    i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, 
    caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, 
    embed, figure, figcaption, footer, header, hgroup, menu, nav, output, 
    ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, 
    nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CONFIG */
* {
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration: none;
}

/* MAIN */

main {
   margin-bottom: 50px;
}
/* 
.form-container,
.banner-container {
   display: flex;
   flex: 1 1 0;
   width: 50%;
} */

.main-container {
   display: flex;
   justify-content: center;
   margin: 1.7rem 0;
   gap: 22px;
   padding-right: 10px;
}

/* BANNER */

.banner-container img {
   width: 400px;
   height: 37rem;
}

/* FORM */

.form-container {
   display: flex;
   flex-wrap: wrap;
   width: 26%;
   height: 36.5rem;
   margin-top: 18px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.form-container img {
   width: auto;
   height: 3.1rem;
   cursor: pointer;
}

.box-form {
   border: 1px solid #DBDBDB;
   padding: 2.95rem 2.5rem;
   height: 402px;
   width: 100%;
}

form {
   margin-top: 2.4rem;
}

.login input {
   width: 100%;
   display: block;
   outline: 0;
   background-color: #FAFAFA;
   border: 1px solid #DBDBDB;
   border-radius: 3px;
   margin-bottom: .6rem;
   padding: .63rem .5rem;
}

.login input[type="text"], [type='password'] {
   font-size: 12px;
   margin-bottom: 6px;
   color: #9E7373;
   
}

.login input[type="submit"] {
   margin-top: .9rem;
   background-color: #4CB5F9;
   color: #FFF;
   text-transform: capitalize;
   padding: .45rem 2rem;
   font-weight: 700;
   border-radius: 8px;
   border: 0;
}

/* SEPARADOR OU */

.sep {
   position: relative;
}

.sep p {
   width: 20%;
   border: 1px solid transparent;
   text-transform: uppercase;
   font: 500 13px 'Segoe UI';
   color: #73738E;
   position: absolute;
   top: -8.5px;
   left: 107px;
   background-color: white;
}

.sep .line {
   border-top: 1px solid #DBDBDB;
   padding: 1.2rem 1rem;   
   padding: 0;
   margin: 24px 0 35px;
}

/* FACEBOOK */

.facebook a {
   display: flex;
   justify-content: center;
   align-items: center;
}

.facebook img {
   width: 1rem;
   height: 1rem;
   margin-right: 8px;
}

.facebook span {
   font: 500 14px 'Segoe UI';
   color: #385185;
}

/* SENHA */

.forgot-pass {
   margin-top: 20px;
}

.forgot-pass a {
   font: normal 12px 'Segoe UI';
}

/* CADASTRO */

.register {
   width: 100%;
   padding: 1.4rem 1rem;
   border: 1px solid #DBDBDB;
   margin: 10px 0;
   font: normal 14px 'Segoe UI';
   height: 63px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.register a {
   font-weight: 500;
   color: #0095F6;
}

/* DOWNLOAD */

.apps {
   margin-top: 6px;
   /* display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 8px; */

}

.apps a {
   display: inline-block;
   height: 40px;
   margin: 5px 2px 0;
}

.apps p {
   font: normal 14px 'Segoe UI';
   margin-bottom: 11px;
   width: 100%;
}

.apps img {
   width: auto;
   height: 2.5rem;
}

/* FOOTER */

footer {
   margin-bottom: 3.75rem;
}

nav {
   width: 69.8%;
   margin: 0 auto;
   margin-bottom: 19px;
}

#footer-links {
   display: flex;
   justify-content: space-between;
}

li a {
   font: normal 12px 'Segoe UI';
   color: #737373;
}

li a:hover {
   text-decoration: underline;
}

#link-dif:hover {
   text-decoration: none;
}

/* IDIOMA E DIREITOS */

.language-container {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.language-container select {
   outline: 0;
   border: 0;
   width: 7.1rem;
   font: normal 12px 'Segoe UI';
   color: #737373;
   text-transform: capitalize;
}

.copyright {   
   font: normal 12px 'Segoe UI';
   color: #737373;  
}

/* MOBILE */


@media (max-width: 1050px) {
   
   .form-container {
      width: 35%;
   }
   
   nav {
      width: 90%;
   }
   
   #footer-links {
      flex-wrap: wrap;
      justify-content: space-between;
      
   }
   
}

@media (max-width: 780px) {

   .box-form,
   .form-container {
      height: 75%;
   }
   
   .banner-container {
      display: none;
   }

   .form-container {
      width: 70%;
   }

   .login input {
      padding: 1rem;
   }

   .sep p {
      left: 180px;
   }

   nav {
      margin-bottom: 3rem;
   }

   footer {
      width: 80%;
      margin: 0 auto 60px;
   }

   #footer-links {
      justify-content: space-evenly;
      gap: 15px;
   }
}

@media (max-width: 450px) {

   main {
      margin: 0;
   }

   .main-container {
      padding: 0;
   }

   .banner-container {
      display: none;
   }

   .box-form {
      padding-bottom: 20px;
   }

   .main-container,
   .box-form,
   .form-container {
      margin-top: 0;
   }

   .form-container,
   .box-form,
   .register {
      width: 100%;
      border: none;
   }

   .apps,
    nav {
      width: 70%;
   }

   .login input,
   .sep {
      width: 80%;
      margin: 0 auto;
   }

   .login input {
      padding: 0.7rem;
   }

   footer {
      margin-top: 70px;
      text-align: center; 
   }

   nav {
      text-align: center;
      width: 100%;
   }

   #footer-links {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-bottom: 40px;
   }

   .register {
      height: 40px;
   }

   .sep p {
      left: 110px;
   }
}

@media (max-width: 390px) {
   
   .login input, input[type="submit"] {
      width: 95%;
   }

   .sep {
      width: 95%;
   }
}

@media (max-width: 335px) {

   .sep p {
      left: 90px;
   }

   .apps {
      margin: 10px 2px 0;
   }

   nav {
      margin-bottom: 20px;
      width: 88%;
   }

   #footer-links {
      gap: 5px;
   }
   
   footer {
      width: 90%
   }
   
}