.page-content {
  height: 100vh;
  display: grid;
}

main {
  grid-area: title;
}

aside {
  grid-area: login;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 1024px) {
  .page-content {
    display: grid;
    gap: 5rem 0;

    grid-template-areas: 
      ". . . . ."
      ". title login login ."
      ". title login login ."
      ". title login login ."
      ". . . . ."
      "footer footer footer footer footer"
      /* Tem sempre que ter a mesma quantidade de elementos, se isso for 
      alterado é só colocar . no lugar onde não é necessário alteração */
    ;
  }
}

