/* font */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* variables */

:root {
  --ff-primary: "Roboto";
  --ff-secondary: "Open Sans";
  --clr-primary-1: #063251;
  --clr-primary-2: #49a6ea;
  --clr-background: #f1f5f8;
  --clr-black: #222;
  --clr-white: #ffffff;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --size: 1rem;
  --radius: 0.25rem;
  --transition: all 0.3s linear;
}

/* reset config */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
  list-style: none;
  letter-spacing: 0.1rem;
}

body {
  font-family: var(--ff-secondary);
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  font-size: var(--size);
  font-family: var(--ff-primary);
}

/* nav */

.nav-center {
  width: 100%;
  height: 3rem;
  color: var(--clr-primary-2);

  box-shadow: var(--dark-shadow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* nav links */

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

nav a {
  color: var(--clr-primary-1);
  padding: 5px 15px;
  border-radius: var(--radius);
  transition: all 0.15s linear;
}

nav a:hover {
  color: var(--clr-primary-2);
}

/* main */

main {
  background-color: var(--clr-background);
  min-height: calc(100vh - 3rem);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* background */

#bg-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

#bg-color h2 {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 2.5rem;
  padding: 0.75rem var(--size);
  border-radius: var(--radius);
}

#bg-color span {
  color: var(--clr-primary-2);
}

/* button */

.btn {
  font-family: var(--ff-primary);
  background-color: transparent;
  color: var(--clr-black);
  font-weight: bold;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: var(--size);
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  border: 2px solid var(--clr-black);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-black);
}

/* media query */

@media (max-width: 600px) {
  #bg-color {
    max-width: 20rem;
    text-align: center;
  }

  .nav-center {
    justify-content: space-between;
  }

  .nav-center h1 {
    padding: var(--size);
  }
}

@media (max-width: 320px) {
  #bg-color {
    max-width: 15rem;
  }

  #bg-color h2 {
    font-size: 2rem;
  }

  .nav-links {
    gap: 0;
  }

  .nav-links li {
    max-width: 5rem;
  }
}
