/* font */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

/* variables */

:root {
  --ff-primary: 'Gayathri';
  --ff-secondary: 'Roboto';
  --fs-html: 62.5%;
  --clr-body: #d95f7c;
  --clr-btn: #d96c5f;
  --clr-btn-hover: #d96b5fc5;
  --clr-label: #444;
  --clr-brown: #260101;
  --clr-pale-brown: #4d0101de;
  --clr-white: #eff;
  --bd-radius: 5px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* resets */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.1rem;
  text-transform: none;
  border: none;
  outline: none;
  color: #000;
}

html {
  font-size: var(--fs-html);
  height: 100vh;
}

body {
  /* background: rgb(0 188 212 / 50%); */
  background: var(--clr-body);
  font-family: var(--ff-primary);
  line-height: 1.8rem;
}

.btn {
  display: block;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: var(--bd-radius);
  font-family: var(--ff-secondary);
  background-color: var(--clr-btn);
  font-weight: bold;
  transition: all 0.2s;
  box-shadow: var(--box-shadow);
  color: var(--clr-brown);
}

.btn:hover {
  transform: translateY(-5%);
  background-color: var(--clr-btn-hover);
}

.next-step a {
  color: var(--clr-brown);
}

/* header */

header {
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 4.5rem;
  padding-top: 5rem;
  color: var(--clr-white);
}

/* main */

main {
  margin: 0 auto;
  width: 55rem;
  background-color: #fff;
  padding: 4rem 5rem 0;
  border-radius: 14px;
  height: 30%;
  box-shadow: 0 3rem 5rem rgba(0 0 0 / 25%);
}

.tmb,
.training,
.cutting,
.bulking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
}

/* Nav */

nav {
  text-align: center;
}

ol {
  margin-top: 1rem;
  counter-reset: item;
  list-style-type: none;
}

li {
  position: relative;
  line-height: 1.3rem;
}

li::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 15px;
  border: 1px var(--clr-body) solid;
  background-color: #fff;
  color: var(--clr-label);
  text-align: center;
  font-family: var(--ff-secondary);
}

ol li {
  display: inline-block;
  margin: 0 12px;
}

ol li::before {
  top: -20px;
  left: 50%;
  margin-left: -10px;
  transition: transform 0.1s;
}

ol li:hover::before {
  transform: scale(1.2);
  /* background-color: #2a8c82; */
  background-color: var(--clr-body);
  color: #eee;
}

/* Description */

.title {
  font-size: 2.4rem;
  color: var(--clr-brown);
  font-family: var(--ff-primary);
}

.label {
  margin: 1.2rem 0;
  color: var(--clr-label);
}

/* User Info */

.user-information {
  width: 100%;
}

.info-tmb,
.info-objective,
.info-frequency {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  width: 5rem;
  margin: 1.5rem;
  color: #260101;
}

.info-frequency {
  width: auto;
}

.info-objective {
  margin-right: 1rem;
  width: auto;
}

input {
  font-size: 1.5rem;
  width: 10rem;
  padding: 0.8rem;
  background-color: #d95f8048;
  color: var(--clr-label);
  border-radius: var(--bd-radius);
  box-shadow: var(--box-shadow);
}

.sex-info,
.objective-radio,
.frequency-radio {
  width: auto;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s;
}

.sex-info:hover,
.objective-radio:hover,
.frequency-radio:hover {
  transform: scale(1.2);
}

.frequency-radio {
  margin: 0 0 1.48rem 3rem;
}

.radio-option {
  cursor: pointer;
  margin-right: 1rem;
}

.sedentary,
.light,
.moderate,
.high,
.very-high {
  display: inline-block;
  margin-bottom: 1rem;
}

/* TMB Result */

.tmb-result {
  width: 15rem;
  padding-right: 2.2rem;
}

.tmb-number-result {
  margin-left: 2rem;
  background-color: #4d0101de;
  padding: 1rem;
  border-radius: var(--bd-radius);
  box-shadow: var(--box-shadow);
  color: #dee;
}

/* Frequency radio */

.hidden {
  display: none;
}

/* Cutting Table */

.cutting-table,
.bulking-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 8px;
  border: 1px solid #fff;
  min-width: 15rem;
  background-color: #f0b7b39c;
}

.header > .cut, .bul {
  font-weight: bold;
  background-color: #4d010173;
}

.value,
.grams {
  text-align: center;
}

/* Tips */
.tips {
  font-size: 1.2rem;
  cursor: default;
}

.tips:hover {
  transform: none;
  background-color: var(--clr-btn);
}

/* Recomendation Card */

/* .card {
  transition: all 0.5s;
}

.card:focus {
  padding: 6rem 16rem;
}  */