/* font */
@import url(fonts/Inter-VariableFont_slnt\wght.ttf);

/* variables */
:root {
  --fs-html: 62.5%;
  --ff-primary: "Inter", sans-serif;
  --bg-clr: hsl(0, 0%, 8%);
  --section-bg-clr: hsl(0, 0%, 12%);
  --buttons-clr: hsl(0, 0%, 20%);
  --highlight-text-clr: hsl(75, 94%, 57%);
  --font-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
}

/* reset config */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.1rem;
  font-family: var(--ff-primary);
}

html {
  font-size: var(--fs-html);
  color: var(--font-clr);
}

body {
  background-color: var(--bg-clr);
  height: 100vh;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

a {
  color: var(--font-clr);
}

/* main content */
.profile-main {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--section-bg-clr);
  padding: 3rem;
  max-width: 35rem;
  border-radius: 10px;
  font-size: 1.4rem;
}

/* profile content */
.profile__picture img {
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 50%;
}

.profile__data {
  text-align: center;
}

.profile__name {
  font-size: 2.5rem;
  font-weight: 400;
}

.profile__country {
  font: bold 1.3rem var(--ff-primary);
  color: var(--highlight-text-clr);
  margin: 1rem 0 0.2rem 0;
}

.profile__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.profile__link {
  min-width: calc(100% - 5rem);
  border-radius: 0.5rem;
  background-color: var(--buttons-clr);
  padding: 1.3rem;
  font-weight: 600;

  transition: all 0.5s;
}

.profile__link:hover {
  color: var(--black-clr);
  background-color: var(--highlight-text-clr);
}

/* footer */
.footer__attribution a {
  padding-top: 1rem;
  color: var(--highlight-text-clr);
}

/* tablets media query */
@media (max-width: 850px) {
  .profile {
    max-width: calc(100% - 6rem);
    padding: 6rem;
  }
  .profile,
  .profile__country,
  .footer__attribution {
    font-size: 2.2rem;
  }
  .profile__picture img {
    min-height: 15rem;
    min-width: 15rem;
    border-radius: 50%;
  }
}

/* Smartphones media query */
@media (max-width: 450px) {
  .profile {
    max-width: calc(100% - 3rem);
    padding: 5rem 0rem;
  }
  .profile,
  .profile__country {
    font-size: 1.8rem;
  }
  .footer__attribution {
    font-size: 1.2rem;
  }
}

/* Small smartphones media query */
@media (max-width: 380px) {
  .profile__text {
    font-size: 1.5rem;
  }
  .profile__links {
    font-size: 1.7rem;
  }
}
