* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #4e8098;
    color: white;
    font-size: 35px;
    padding: 30px;
    text-align: center;
}

div {
    background-color: #fff;
    margin: 10px 10px 10px 0px;
    padding: 1px 1px 1px 20px;
    border-right: 2px solid #b8000091;
    border-left: 2px solid #b8000091;
    border-bottom: 1px solid #000;
}

#cor {
    background-color: rgba(190, 135, 115, 0.459);
}

[type="submit"], [type="radio"], [type="text"], [type="email"], textarea {
    background-color: rgba(206, 236, 123, 0.267);
    border: 0px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.nome {
    display: block;
}

#botao-enviar {
    padding: 0px;
    width: 57px;
    border: 1px solid #000;
    border-radius: 5px;
}

[type="submit"] {
    padding: 5px;
    border-radius: 5px;
}

h1{
    text-decoration: underline;
}

a {
    font-weight: bold;
}

label, input, textarea, p, option {
    font-size: 1em;
}

nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
}

section::after {
    background: #ccc;
    content: "";
    display: table;
    clear: both;
}

p {
    margin: 14px 0px;
}

footer {
    background-color: #4e8098;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    nav, article{
        width: 100%;
        height: auto;
    }
}
